.distill-site-nav {
  color: white;
  background-image: url('https://media4.giphy.com/media/jaOXKCxtBPLieRLI0c/giphy.gif?cid=790b76115d6cd90afde8787c5cdcafd67fc94960f3437562&rid=giphy.gif&ct=g');
  border: solid 1px black;
  border-radius: .3rem;
  font-size: 15px;
  font-weight: 300;
  background-size: cover;
  background-position: 100%;
  
}

.posts-list .post-preview .thumbnail {
  box-sizing: border-box;
  margin-bottom: 24px;
  position: relative;
  max-width: 250px;
  border: solid 1px black;
  border-radius: .3rem;
}


.posts-list .post-preview p {
    margin: 0 0 12px 0;
    line-height: 1.5em;
    font-size: 16px;
    font-family: 'Cardo', serif !important;
}

.posts-list .description h2 {
    font-family: 'Alata', sans-serif !important;
}

h1{
    font-family: 'Alata', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Cardo', serif;
    font-weight: 200;
    line-height: 1.3;
    font-size: 1.075em;
    font-style: normal;
}

.myimg {
  height: 450px;
  width: 450px;
  border-radius: 80%;
  object-fit: cover;
  border: solid 1px black;
  max-width: 52%;
}