.distill-site-nav {
  color: white;
  background-image: url('https://i.gifer.com/WGkW.gif');
  border: solid 1px black;
  border-radius: .3rem;
  font-size: 15px;
  font-weight: 300;
  background-size: cover;
  background-position: 100%;
}